/* =========================
   Prevent iPhone Auto Zoom
========================= */
html {
  -webkit-text-size-adjust: 100%;
}

/* =========================
   Base
========================= */
body{
  margin:0;
  font-family:'Cormorant Garamond', serif;
  background:#f6efe4;
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:30px 14px;
  box-sizing:border-box;
}

/* =========================
   Card
========================= */
.card{
  width:90%;
  max-width:500px;
  padding:70px 50px;
  border-radius:22px;
  text-align:center;
  background:#ffffff;

  /* Double Purple Frame */
  border:3px solid #5e3b8c;
  box-shadow:
    0 0 0 12px #ffffff,
    0 0 0 15px #5e3b8c,
    0 20px 60px rgba(0,0,0,.12);
}

/* =========================
   Typography
========================= */

.basmala{
  font-size:16px;
  letter-spacing:2px;
  margin-bottom:22px;
  color:#5e3b8c;
}

h1{
  font-size:42px;
  letter-spacing:8px;
  font-weight:500;
  margin:12px 0;
  color:#2f2f2f;
}

.names{
  font-size:30px;
  font-weight:600;
  margin:22px 0;
  letter-spacing:3px;
  color:#5e3b8c;
}

#text{
  font-size:19px;
  margin:28px 0;
  line-height:1.8;
  letter-spacing:1px;
  color:#444;
}

.details p{
  margin:10px 0;
  font-size:18px;
  letter-spacing:1px;
  color:#333;
}

.countdown{
  margin-top:18px;
  font-size:18px;
  font-weight:600;
  color:#5e3b8c;
}

.qr{
  width:170px;
  margin:32px auto;
  display:block;
}

.footer{
  font-size:16px;
  letter-spacing:2px;
  margin-top:22px;
  color:#666;
}

/* =========================
   Mobile Optimization
========================= */
@media (max-width:480px){

  body{
    padding:20px 10px;
  }

  .card{
    padding:45px 22px;
    max-width:360px;
    border-radius:18px;
  }

  h1{
    font-size:30px;
    letter-spacing:5px;
  }

  .names{
    font-size:22px;
    letter-spacing:2px;
  }

  #text{
    font-size:16px;
  }

  .details p{
    font-size:15px;
  }

  .countdown{
    font-size:15px;
  }

  .qr{
    width:140px;
  }

  .footer{
    font-size:14px;
  }
}/* =========================
   Elegant Location Line
========================= */
.location-text{
  margin-top:30px;
  font-size:18px;
  letter-spacing:1px;
  color:#444;
}

.location-link{
  text-decoration:none;
  color:#5e3b8c;
  border-bottom:1px solid #5e3b8c;
  padding-bottom:2px;
  transition:0.3s ease;
  font-weight:600;
}

.location-link:hover{
  letter-spacing:2px;
  opacity:0.8;
}
